<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href='https://fonts.googleapis.com/css?family=Press2Play' rel='stylesheet'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

    
      <h1> Wonderful AI tools </h1>


        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> AI Art Research </h2>
                            <p>Not so long ago I discovered text2Image AI tools and became a fan of this art creation technique. Istarted with Midjourney, than found Dalle 2. The concept existed in the internet for quite some time already. However, became popular very recently and is gaining popularity.
                                After some time I decided to check how the code works and managed to download all packages and install with Hugging face conncetions and Transformers Pipelines a module of Stable Dissusion called "DreamFusion" . 
                                <br><br> 
                                It really inspired me. I could literally craeted very good quality images in seconds. However, more power to my machine became a need very fast. These are some examples of my first attempts to convert a text into an image: 
                            </p>
                            <div class="aiDrawings">
                                <img src="../images/exp1.jpeg">
                                <img src="../images/exp2.jpeg">
                                <img src="../images/exp3.jpeg">
                                <img src="../images/exp4.jpeg">
                                <img src="../images/exp5.jpeg">
                                <img src="../images/exp6.jpeg">
                                <img src="../images/exp7.jpeg">
                                <img src="../images/exp8.jpeg">
                                
                            </div>

                            <p>A complete list of AI tools that I've found, explored, tested and use from time to time:</p>
                            <a href="https://docs.google.com/document/d/1SLN-B9-Hi4voPUZV_suoI7OOzZ66cSa8AiOkpooPdBo/edit?usp=sharing">
                                <button class="button">
                                    Wonderful AI tools
                                </button>
                            
                            <p>Among different AI models I discovered text generetors and even code completion AI. Codex, for example, can understand human speech requests for coding and code. It can even create an app. 
                                However, for now I've only tried text 2 image models and text generation by gpt2 model. A combination of two I'd like to present here as my experiment:</p>  
                            <a href="https://docs.google.com/document/d/13djVOnhBWghdLM7wuCpvdqEXCcRvmWTRsU4WgZH4Pc8/edit?usp=sharing">
                                 <button class="button">
                                    AI Experiment #1
                                </button>
                            
                            <p>Here are some more of my artworks done with different AI tools:</p>
                            <div class="aiDrawings">
                                <img src="../images/ai1.jpeg">
                                <img src="../images/ai2.jpg">
                                <img src="../images/ai3.jpeg">
                                <img src="../images/ai4.jpeg">
                                <img src="../images/ai5.jpeg">
                                <img src="../images/ai6.jpg">
                                <img src="../images/ai7.jpeg">
                                <img src="../images/ai8.jpg">
                                
                            </div>

                            <p>In that series I tried to draw tools of ancient civilizations which are difficult to find in reality and little is known about them. 
                                It is possible to apply different styles such as 3D render, pixelart and styles of famous artists like by Dali or by Banksi. My goal was to draw to different rare objects together in one pic: an astrolabe and an armillary sphere.<br><br></p>
                    
                  
                        

                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="index.html">      
            <div class="pixel2">Back</div>

    </body>

    </html>