<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Chat GPT </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> GPT Chat </h2>
                            <p>After I learnt how to use available text 2 image models I started to seek for other AI tools. 
                                Quite fast I found text generating models. One of the best and the most advanced was GPT3. I started to prompt different questions into it and it impressed me. 
                                Recently a new update came out - GPT Chat. 
                                I have found a way how to use it for studying. 
                                <br><br>
                                First of all, and it is not only my opinion, but what people say in the news - GPT can substitute Google. 
                                There is no need to seek for something and open different link, since GPT can give you a direct answer. 
                                Secondly, it remembers what it just wrote and it is possible to continue asking and receiving further explanations. 
                                That makes finding new material and researching new or difficult topics much easier and faster. 
                                It can summarize long text and bring key insights from them, what is also quite handy. 
                                <br><br>
                                However, what is even more exciting about it, that it can give you insights into your own data. 
                                You can provide textual data or code and ask for feedback, advice and guidelines.
                                <br><br>
                                I've collected my Feedpulse Feedback and worked it out in different ways. One interesting outcome is that after several iterations it advised me to work with a feedback loop of 5 steps. 
                                Just as we are advised at university. Secondly, it can find which sides of my work require improvement and more attention and which are stron enough. 
                            
                            </p>
                            <div class="protoPhoto"><img src="../images/chatGPT.png" alt="chatGPT"></div>


                            <a href="https://drive.google.com/file/d/1wh8CCmxXH3WAj4U2wzdiHc-hZrC6q5pz/view?usp=share_link">
                                <button class="button">
                                    Read the full chat
                                </button></a> 

                                <hr>

                                <h2>Field Research<h2>
                                <p>I went to an event "We are the innovators" at Hight Tech Campus. There I found several startups and their founders working on innovations in AI. 
                                   All of them I asked same questions: "Where do you see yourself in the world of AI in 5 years?" ,"What are the most important and critical skills to learn?"
                                   "What makes you successful with AI?"AI.
                                    
                                   <br><br>
                                   Three the most memorable answers I am listing below: 
                                   <br>- stay ahead of the news, always research what innovations are on the market in the field of AI
                                   <br>- adaptability is the key to success, being able to adapt AI potential to consumer problems and needs is the way
                                   <br>- think of AI problems and its negative impact, try to solve these problems (e.g. emission impact requires both software and hardware work in order to be decreased) 
                                    </p>

                                   <br>
                                   <h2>Reflection:<h2>
                                    <p>From my previous experience in Communication studies I can say that any new Communication technology brings both: positive and negative impact on civilization. 
                                        GPT Chat is a communication tool. It can substitute Google and change the way we communicate. It brings fastness, but can easily consume one and turn life into illusion. 
                                        It is my personal vision. I think that we as a society must develop some standardised approach to this new technology. It is emerging and will acquire much stronger form in the future. 
                                        Definitely, it will not go back and regress. It is predicted to revolutionise all industries with its potential. I visualise myself in the future where AI is already grown up and self sufficient. 
                                        What challenges will we face then? In my opinion, these are the challenges in the field of deriving meaning. What is truly important when we can do anything? 
                                        I want more people to think about that question and put it into the core of my research.<br><br></p>

                          
                             
                            
                    
            

                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="projects.html">      
            <div class="pixel2">Back</div>

    </body>

    </html>