<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>

    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
</head>



<body>
    
    
        <h1>My Fontys ICT<br> Media Design <br>PORTFOLIO</h1>
  

        <section class="features">
            
            <a href="portfolio.html">
            <figure >
                <figcaption>Learning Outcomes</figcaption>
            </figure></a>
            
            <a href="studentInfo.html">
            <figure >
                <figcaption>Student Info</figcaption>
            </figure></a>
            
            <a href="projects.html">
            <figure >
                <figcaption>Personal Projects</figcaption>
            </figure></a>

        </section>
        
        
   
    
    
</body>


</html>
