<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Ja Hoor </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Wir Spielen? Ja Hoor. </h2>
                            <p>Card games and card decks for multiple purposes are a part of my personal research and startup since 2014.
                            </p>

                            <div class="playImage">
                                
                                <img src="../images/jaHoorPlay1.png">
                                <img src="../images/jaHoorPlay2.png">
                                <img src="../images/jaHoorPlay3.png">
                                <img src="../images/jaHoorPlay4.png">

                                
                                <br>
                                <br>
                                

                            
                            </div>
                            <br>
                            <br>

                            <a href="../images/jaHoorManual.pdf">
                                <button class="button">
                                   Open Ja Hoor Manual PDF
                                </button>

                            <p><br>I made a card deck for the first time in 2014. It was made to model the table of elements. Like periodic chemical elements but simplified. 9 different prototypes were made as well as new games were created and tested with users.
                                <br><br>There are several ways one can use the deck, but the easiest and the funniest for users is Ja Hoor. Origins lie in classic card game "Durak" or "Fool". It was the first game to be played with a new deck of 72 unique cards. 
                                <br><br> My goal is to learn advanced front-end and AR/VR in order to improve my design and be able to update the product.</p>

                            <p>There are many games one can play with this deck. Basically, it can substitute a classic card deck as well as bring a lot of new stuff. However, it is not easy to market and to create a good manual. 
                                As for now I am thinking to focus on creating different games in separate boxes. An Ja Horr is the first one. You can see iterations of my work on the manual below: </p>

                            <div class="protoPhoto"><img src="../images/jaHoor3.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor4.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor5.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor8.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor7.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor6.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor9.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor2.jpeg" alt="jaHoor"></div>
                            <div class="protoPhoto"><img src="../images/jaHoor1.jpeg" alt="jaHoor"></div>    

                            <p>There exists a big difficulty for new entrepreneurs to get a good packaging. It requires to order big amounts what is not always possible. 
                                If the amount is too low, than it is either very expensive or not inteteresting for a packaging company to produce. 
                                Facing that difficulty I learnt how to make wooden boxes with laser printer at Fontys.
                                When I showed the final version to my team mates they said that wooden box looks nice and interesting to them and they could even buy it in the store.</p>
                                <br>
                                <br>
                             
                            
                    
                  
                        <img src="../images/stack.png" class="card-img-top card-pic slowfloat2s" alt="bladeRunner">

                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="projects.html">      
            <div class="pixel2">Back</div>

    </body>

    </html>