<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>

    <body>

      

      <h1> Outcome #7 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Interviewing </h2>
                            <h3> PROFESSIONAL SKILLS: investigative problem solving, targeted interaction</h3>
                            <br>
                            <h3> TECHNICAL SKILLS: target group</h3>
                            <p> Immediately after the Figma prototype was done we went for feedback. We updated interview questions and recorded interviews. 
                                I transcibed them with Assembly AI as before. This AI allows to determine sentiment, keywords and frases and other important information. 
                            </p>

                            <a href="https://docs.google.com/document/d/1JshpQKFOrjs-mJSl3MRUoHsoqzX9yShBhQohBAT9TQU/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Updated Interview Questions
                                </button></a>

                                <br><br>

                                <a href="https://www.assemblyai.com/playground/transcript/r74bprsi0m-96b2-4163-bde1-05bba183346c" target="_blank" rel="noopener noreferrer">
                                    <button class="button">
                                        Kyle's interview
                                    </button></a>

                                <p>Interview outcomes:

                                    <br>1) Kyle is a 22-year-old student who plays video games in his free time, including Tomb Raider, Spiderman, Resident Evil, and Fortnite.<br><br>
                                    <br>2) He finds school stressful at times, and uses Netflix and going out with friends as ways to unwind.<br><br>
                                    <br><br>3) Kyle is interested in attending a gaming event at the school and would like to see teasers for new games, try out new gaming technology like PlayStation 5 and VR headsets, and have an interactive experience.<br><br>
                                    <br><br>4) He prefers a free-roaming format for the event, with a maximum of 100 people in attendance, and would be interested in participating in tournaments with the opportunity to win prizes.<br><br>
                                    <br><br>5) The participant plays a variety of games including Nintendo games, platformers, puzzle games, action games, open world games, and card games.<br><br>
                                    <br><br>6) The participant primarily plays on the Nintendo Switch, PlayStation 4, and PC, but is open to playing on other platforms.<br><br>
                                    <br><br>7) The participant has varying amounts of time to play games, with a maximum of 3 hours per day.<br><br>
                                    <br><br>8) The participant is interested in attending a gaming event at the school, specifically one with interactive elements such as teasers for new games, the latest VR headsets and PlayStation 5s, and the option for free roaming.<br><br>
                                    <br><br>9) The participant is interested in tournaments at the gaming event and the possibility of winning prizes.<br><br>
                                    <br><br>10) The participant has limited knowledge about VR, but is interested in exploring it further.<br><br></p>

                                    <a href="https://www.assemblyai.com/playground/transcript/r74lbzkz8r-a372-4583-9c6d-52b1c621bdb6" target="_blank" rel="noopener noreferrer">
                                        <button class="button">
                                            Martina's interview
                                        </button></a>

                                    <p>Interview outcomes:

                                        <br><br>1) Interviewee Martina Angela is a student of IT and enjoys studying media-related material.<br><br>
                                        <br><br>2) Martina Angela experiences stress around deadlines and often leaves things until the last minute.<br><br>
                                        <br><br>3) In her free time, Martin Angela likes to watch TV series, read books, and hang out with friends.<br><br>
                                        <br><br>4) Financial situation as a student does not limit Martin Angela from going out and participating in events, but she does try to save money for bigger experiences.<br><br>
                                        <br><br>5) Martina Angela has been to a few parties and a vintage sale in the past two weeks and thought the events were well-organized.<br><br>
                                        <br><br>6) Martina Angela is not a big fan of video games, but is open to trying them out for fun with friends.<br><br>
                                        <br><br>7) Martina Angela would be interested in attending an event centered around video games and combining the social aspect with playing games.<br><br>

                            <hr>
                            <h3>Feedback: </h3>
                            <p> Your learning outcome on interviewing is well-written and organized. 
                                You clearly describe the professional and technical skills involved in interviewing and provide links to relevant materials. 
                                One potential area for improvement could be to provide more concrete examples of the feedback you received and how you used it to improve your interviewing skills. 
                                Additionally, it might be helpful to discuss any challenges or lessons learned during the interviewing process. 
                                Overall, it seems like you have a strong understanding of interviewing and have applied your skills effectively.
                                <br><br>
                            </p>
                            <h3>Reflection: </h3>
                            <p>This learning outcome on interviewing was a challenging but rewarding experience for me. I learned how to effectively use investigative problem solving and targeted interaction to gather valuable information from interviewees. The technical skills I developed, such as understanding my target group, also proved to be crucial in conducting successful interviews.

                                <br><br>One of the biggest challenges I faced during this process was transcribing the interviews using Assembly AI. While it was a useful tool for determining sentiment and identifying key phrases, it took some time and practice to get the hang of it. However, I persevered and was ultimately able to use the AI effectively to extract important information from the interviews.
                                
                                <br><br>The feedback I received on my learning outcome was helpful in identifying areas for improvement. In the future, I will make sure to provide more concrete examples of the feedback I received and how I used it to improve my interviewing skills. I will also reflect on any challenges or lessons learned during the process to further enhance my understanding of interviewing.
                                
                                <br><br>Overall, this learning outcome has helped me to move closer to my personal goal of using AI in design. By developing my interviewing skills and understanding the importance of targeting specific groups, I feel more prepared to utilize AI in a way that will be effective and beneficial for my design work.<br><br></p>

                            
                            
                            

                            
                                
                            
                        
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentEight.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>