<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #11 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Website Blueprint </h2>
                            <h3> PROFESSIONAL SKILLS: targeted interaction </h3>
                            <h3> TECHNICAL SKILLS: iterative process, interacive prototypes </h3>
                            
                            <p> Welcome to Unio Room, a game event and game device rental website that was created by team Tetra Lenses. Take a look around and explore the features and functionality of the website. 
                              We received feedback on the overall design, user experience, and received suggestions for improvements during the presentation. 
                              Overall, users loved the design and it was easy to navigate and understand how to use the website. However, there is a room for improvement in terms of making events better presented. 
                              Also, structure elements and design could be aligned better if we had more time. That requires more user testing that we aim to conduct in the future. 
                            </p>

                            
                            <div class="protoPhoto"><img src="../images/unio1.png" alt="vivaMagenta"></div>
                            <div class="protoPhoto"><img src="../images/unio2.png" alt="vivaMagenta"></div>

                            <a href="http://i500395.hera.fhict.nl/unioRoom/index.html" target="_blank" rel="noopener noreferrer">
                              <button class="button">
                                  Website link
                              </button></a>
                            
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            

    </body>

    </html>