<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>

    <body>

      

      <h1> Outcome #1 </h1>

      

      

        <section>
            <div class="container">
                
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Survey </h2>
                            <h3> TECHNICAL SKILLS: target group</h3>
                            <p>When the time came we were prepared. We already made interview questions, and I made a survey and posted it on Reddit, in Discord groups. 

                            </p>

                            <a href="https://www.reddit.com/user/Sorry_Local9830/comments/ys9t7v/game_rental_website_ux_research/?utm_source=share&utm_medium=web2x&context=3" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Tetra Lenses Initial Survey
                                </button></a>
                                
                            <p>We didn't stop on that and after discussing our survey with teachers we came up with a better version.</p>
                            

                            <a href="https://docs.google.com/document/d/1hr-Y1hARRI69wkwcIW-eMGNMNN8H9CwifbYCirRko3k/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Tetra Lenses Improved Survey
                                </button></a> 

                            <p>Our next steps are to actually conduct this surveys and get enough information from users. After that we can start building our own prototypes and improve them.</p>

                    
                  
                        <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/1b3d7290e7934ff40a032085db68c436-1656947789/RedJacket_DJ_Resize/create-a-retro-8-bit-pixel-art-style-gif-animation.gif" class="card-img-top card-pic slowfloat2s" alt="sandclock">
                        
                        <hr>
                        <h3>Feedback:</h3>
                        <p> Based on your technical skills and learning outcome, I can see that you have a solid understanding of target groups. 
                            You were able to formulate questions and surveys as well as receive feedback from teachers to improve them. 
                            However, there is still room for improvement in terms of constructing prototypes and improving them. Moving forward, I would recommend a more rigorous approach to researching user needs and constructing prototypes. 
                            With a deeper understanding of the target audience, you will be able to create even better products.<br><br></p>
                        <h3>Reflection:</h3>
                        <p>While I am glad to have received feedback on my understanding of target groups and my ability to formulate questions and surveys, I know that there is still room for improvement in terms of constructing prototypes and improving them. While I was able to create initial and improved versions of a survey, I realize that this is just the first step in a longer process of researching user needs and creating prototypes.

                            <br><br>I will need to take a more rigorous approach to this process in order to truly understand the needs and preferences of my target audience. Only by diving deeper into user research and carefully constructing prototypes can I hope to create products that truly meet the needs of my target group.
                            
                            <br><br>I am committed to continuing to challenge myself and push the limits of my technical skills in order to create the best possible products. 
                            I will seek out opportunities for growth and take a proactive approach to improving my skills and knowledge in this area. 
                            With a deep understanding of my target audience and a focus on rigorous research and prototyping, I am confident that I can create even better products in the future.
                            <br><br></p>
                    
                    
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentTwo.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>