<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>


        <header>
            <nav>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
            </ul>
            </nav>
        </header>

        <body> 

      <h1> Outcome #0 </h1>


        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    
                          <div class="card py-3 ">
                            <img src="https://i.pinimg.com/originals/0e/c3/68/0ec368d72828dc9509c66b7600a86ed7.gif" class="card-img-top card-pic slowfloat2s" alt="sandclock">
                            <h2> 0.0 Logo </h2>
                            
                            <h3>TECHNICAL SKILLS: iterative approach, trends and developments</h3>
                            <p> 
                                My group, Tetra Lenses, used an AI tool to generate logo ideas. 
                                We tried using Stable Diffusion Google Colabs but found a Logo Maker app to be faster. 
                                The final logo was made with the app. 
                                While AI is a trend, it may not always be the most efficient option in real situations.
                            </p>
                            <div class="aiDrawings">
                                <img src="../images/tetra1.png" alt="aiDrawing1">
                                <img src="../images/tetra2.png" alt="aiDrawing2">
                                <img src="../images/tetra4.png" alt="aiDrawing3">
                                <img src="../images/finalLogo.png" alt="finalLogo">
                            </div>

                            <p>I am interested in studying AI as a minor and exploring its potential. I have compiled a list of AI tools that I have tested and learned how to use, which I will continue to update. This list can serve as a personal catalog of AI tools for various tasks. </p>
                            <a href="aiResearch.html" target="_blank" rel="noopener noreferrer">
                            <div><button class="button">
                                AI tools
                            </button></div>
                            </a>

                            <hr>
                            
                            <h3>Feedback: </h3>
                            <p>Keep up with the latest AI trends and seek real-world opportunities to apply your skills. This will help you build your expertise and gain valuable experience and connections.</p>
                            <br>
                            <h3>Reflection: </h3>
                            <p>We were able to create a logo relatively quickly, but it is not yet perfect. While we could try using different AI logo generators, we currently lack user experience data. To improve the process, we could discuss the benefits and drawbacks of each solution, including AI tools and others.
                            </p>
                            <br>
                            
                            </div>
                    
                          <div class="card py-3 ">
                            <h2>0.1 Planning </h2>
                            <h3>PROFESSIONAL SKILLS: future-oriented organisation</h3>
                                
                            <p>We started to think about the future work and made a Team Charter:</p>
                            

                                <a href="https://docs.google.com/document/d/1A1mdS6Ns3Ph5kDlOqRDagd_YsAX1M9UD7g_31C6Ih5w/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                    <button class="button">
                                        Tetra Lenses Charter
                                    </button></a>
                                
                                
                            <p>We covered important topics such as team agreements, strengths and weaknesses of each team member, roles, values, success metrics, and quality standards. Our initial idea was a crypto tutorial website, but we eventually decided on a board game and digital game rental website after exploring different user perspectives and finding that the crypto topic was difficult to understand with our current knowledge. We also identified a design inspiration in retro games. We developed a clear project idea by creating a problem statement and going through the 5 why's process.
                            </p>

                                <div><a href="https://docs.google.com/document/d/1iXEdYzQP9a4rm9dTlzgo_MIt4rUjcGedBB3gpaCmSd0/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Tetra Lenses Problem Statement
                                </button></a></div>

                            <hr>

                            <h3>Feedback: </h3>
                            <p>You have a strong understanding of the importance of a forward-thinking organization and demonstrated the ability to work with your team to identify user needs, research existing platforms, and make sound decisions. 
                                You identified a need for an affordable and accessible gaming solution for students and proposed a game rental website as a solution. 
                                Your ability to define the problem using the five why's approach shows your aptitude for breaking down complex issues and finding effective solutions. 
                                Keep approaching challenges with patience and diligence, thoroughly exploring all potential solutions and using data and research to inform your decisions.
                                Focus on your personal goals and challenge yourself to improve. 
                                Set specific and measurable objectives and work towards them with determination. 
                                Take on new challenges and be open to feedback.</p> 
                            <br>
                            <h3>Reflection: </h3>
                            <p>There is room for improvement in how we approached our project. 
                                Our initial idea was a crypto tutorial website, but we switched to a game rental website due to difficulties understanding the crypto industry and a shared design inspiration. 
                                I wonder if we could have explored the crypto topic more deeply and come up with a more innovative solution. 
                                While I have received feedback on my understanding of the importance of a forward-thinking organization and my ability to work with my team and make sound decisions, I need to continue to challenge myself to think creatively and come up with solutions. 
                                I will seek growth opportunities, set goals, and embrace challenges to continue developing my skills and reach my full potential.
                            <br>
                            <br></p>
                            


                    
                    </div>
                        </div>
               
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div></a>

            <a href="momentOne.html">      
            <div class="pixel2">Next</div></a>

    </body>

    </html>