<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <!-- Header with a menu-->
        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
        <!--Main content section - body-->
    <body>

      
        <!--Gray section with a learning outcome number -->
      <h1> Outcome #9 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> User research Outcomes  </h2>
                            <h3> PROFESSIONAL SKILLS: investigative problem solving, targeted interaction</h3>
                            <h3> TECHNICAL SKILLS: target group
                            
                            
                            <p>The main outcomes of the user research are:<br><br>

                                <br>- Most of the respondents are male and aged between 13-29.<br><br>
                                <br>- A majority of respondents own at least one console (primarily Nintendo Switch and PlayStation 4/5).<br><br>
                                <br>- Respondents have varying levels of experience and skill with video games, card games, and board games.<br><br>
                                <br>- Many respondents are willing to rent consoles, cards, or board games for extra cash, and some would be more inclined to do so if there was an insurance option.<br><br>
                                <br>- Factors that would make respondents consider renting a game instead of buying one include price, the option to test the game, and the availability of single player games.<br><br>
                                <br>- Respondents had a range of opinions on what would be a reasonable pricing range for rentals, with some suggesting a fixed price and others suggesting a price based on the market or request.<br><br>
                                <br>- When using a website, respondents noted the importance of factors such as layout, ease of understanding, and lack of intrusive ads. Factors that would drive them away from using a website include ads everywhere, required login or subscription, and shady links.<br><br>
                                <br>- Most respondents would like an option to track rented consoles on the website.<br><br>

                                <br><br> Based on the survey and interviewing outcomes the target audience for this product or service is therefore young males who are interested in video games and are willing to rent them for extra cash, as well as gamers of all levels of experience who are interested in a variety of games on different platforms.
                            </p>

                            <p>Meet 'Tom,' a 22-year-old male gamer who owns a Nintendo Switch and enjoys playing a variety of video games. Tom is particularly interested in puzzle and action games, and enjoys the challenge of learning new game mechanics and strategies. He is also interested in the option to rent games as a way to try out new titles without committing to a purchase, and is willing to pay a reasonable price for rentals. When using a website, Tom values a user-friendly layout and clear instructions, and is put off by websites with too many ads or suspicious links. Tom would also like the option to track rented games on the website to keep track of his rentals and their return dates. Additionally, Tom is representative of a segment of the gaming audience that is primarily male, aged 13-29, and interested in renting game devices.
                            </p>
                            <a href="https://docs.google.com/forms/d/1EjyZBIaOyUx6sI_3gD088piduiZRw_0Jc3GpnclF4H0/edit#responses" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Survey
                                </button></a>

                            <a href="https://docs.google.com/spreadsheets/d/1_M_knSrvGu-pnHhiMdkXhU5uDXQQvg9fAnC5j7273Pk/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Survey answers CSV
                                </button></a>

                            <a href="https://docs.google.com/document/d/1Rd92ugoP8fCBjuFazKrFw0_v7kMX6LncD5bQOvTMwd0/edit?usp=share_link" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    NLP data analysis with ChatGPT
                                </button></a>

                                <h3>AI drawing of User Persona</h3>
                                <p>The images below represent the lifestyle of user persona and can help making the website more appealing to the target audience. Drawnt with NightCafe. Prompt: "user persona "Tom," a 22-year-old male who owns a Nintendo Switch and enjoys playing a variety of video games. by beeple" It is drawn imitating Beeple's style. This featrure is already banned by some models. However, still available @ nightCafe. 
                                    <br><br>While the text prompt is short and not accurate, the tool is still useful and with different variations and iterations can bring a desired result.
                                </p>
                                <div class="protoPhoto"><img src="../images/persona1.jpg" alt="personaText2Image_1"></div>
                                <div class="protoPhoto"><img src="../images/persona2.jpg" alt="personaText2Image_asana2"></div>
                                   
                            

                            

                            <hr>
                            <h3>Feedback: </h3>
                            <p> While the user research outcomes provide a good overview of the target audience and their interests and habits, there is not enough detail on the specific characteristics and motivations of the respondents. For example, it would be helpful to know more about the types of games they prefer, their reasons for renting games, and their goals and challenges as gamers.
                                
                                <br><br>The learning outcome could benefit from a more thorough analysis of the research data, including a discussion of any trends or patterns that emerged and their implications for the product or service.
                            </p>
                            <h3>Reflection: </h3>
                            <p>Conducting user research is a crucial step in developing a product or service, and it requires both professional skills such as investigative problem solving and targeted interaction, as well as technical skills such as understanding the target group. In this case, the user research outcomes provided valuable insights into the interests and habits of the target audience, specifically young males who are interested in video games and are willing to rent them for extra cash.

                                <br><br>One of the strengths of the user research was the use of AI to transcribe the interviews and surveys, which allowed for efficient and accurate data collection. However, as mentioned in the feedback, there is room for improvement in terms of the depth of analysis and the representation of the target audience. In the future, it would be helpful to conduct more in-depth interviews with a diverse range of respondents to better understand their motivations and goals as gamers, and to include a more diverse range of user personas to represent the full range of the target audience's characteristics and needs.
                                
                                <br><br>Overall, this learning outcome has provided valuable insights into the target audience and their needs, and has highlighted the importance of conducting thorough and diverse user research. By continuing to challenge ourselves with new tasks and using AI to gather valuable user insights, we can ensure that our products and services meet the needs of our target audience and drive future success.<br><br></p>


                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            

    </body>

    </html>