<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #6 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Website Design Research </h2>
                            <h3> TECHNICAL SKILLS: trends & developments, iterative process, target group</h3>
                            <br>
                            <h3> PROFESSIONAL SKILLS: targeted interaction, personal leadership</h3>
                            <p> When we acquired a basic idea of what website's structure, I started to collect design reference and make a document dedicated to it.
                            </p>

                            <a href="https://docs.google.com/document/d/1xWUDvV28cXWnECrGYN_0Z4F-wUERXoxL2lg_yXJq6G0/edit?usp=sharing">
                                <button class="button">
                                    Website Design Reference
                                </button></a>

                            <p>I took one of our interviwees critique is a starting point. She said that a white background makes website look like scam. 
                                Thus, I started with finding color schemes appealing to gamers. I made a manual research and used AI to generate color schemes. 
                                However, I wasn't satisfied with the results. Finally, I found a template that was appealing, in my opinion. 
                                We are not allowed to use templates, so I recreated it in my own way in Figma. However, before starting a new design I made one more paper prototype and one more cardsorting: 
                                <div class="protoPhoto"><img src="../images/paperP1.jpeg" alt="paperP1"></div>
                                <div class="protoPhoto"><img src="../images/paperP2.jpeg" alt="paperP2"></div>
                                <div class="protoPhoto"><img src="../images/paperP3.jpeg" alt="paperP3"></div>
                                <div class="protoPhoto"><img src="../images/paperP4.jpeg" alt="paperP4"></div>
                                <div class="protoPhoto"><img src="../images/paperP5.jpeg" alt="paperP5"></div>
                                <div class="protoPhoto"><img src="../images/paperP6.jpeg" alt="paperP6"></div>
                                <div class="protoPhoto"><img src="../images/cardSort2.jpeg" alt="cardSort2"></div>

                                
                            <p>We already had some design ideas and here you can see the improvements made with 2 iterations:</p>

                            <div class="protoPhoto"><img src="../images/websiteDesign1.png" alt="firstIteration"></div>
                            <p>We tested this prototype in a class and received feedback. Several people expressed interest in gaming events. And little interest in just renting. Thus, we decided to infuse our service idea with gaming events and renting the latest technology, like Neural VR sets.</p>
                            <div class="protoPhoto"><img src="../images/websiteDesign2.png" alt="secondIteration"></div>

                            <a href="https://www.figma.com/file/y07eIa0IixkTSgmpR8jbBS/Tetra-Lenses-Prototype?node-id=0%3A1&t=ihYWO1dAkgBKHonm-1" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Check in Figma
                                </button></a>

                            <p>Finally, Pantone had recently released the color of the Year 2023. This color became a perfect accent color for our website. It is named "Viva Magenta" and that is how Pantone describes it in Graphic Design:
                                "Today's consumers spend large portions of their days looking at a screen where the visuals tend towards pale and neutral. 
                                Designers looking for a color that cuts through this space will find the Color of the Year 2023 a captivating solution. 
                                A brand using Viva Magenta expresses that it's fearless, engaging, and that looks at the world unconventionally to bring about new solutions."
                            </p>
                            <div class="protoPhoto"><img src="../images/magenta.jpeg" alt="vivaMagenta"></div>

                            <a href="https://www.pantone.com/articles/color-of-the-year/what-is-viva-magenta" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Visit Pantone to find out more
                                </button></a>
                                <br>
                                <br>


                            <hr>
                            <h3>Feedback: </h3>
                            <p> We have shown new design to two interviewees and collected their feedback. Generally they liked the design and suggested minor changes in fonts' colors that will make them more readable. 
                                They didn't like the underlined text, so we will remove it. One of them suggested packaged activities, which we will implement. 
                                Technical teacher and a semester coach also liked our worked and suggested to continue this direction.
                                <br><br>
                            </p>
                            <h3>Reflection: </h3>
                            <p>In this project, we conducted research on the design of our website. We used iterative processes and targeted interactions with our target group to gather feedback and make improvements to the design. We also incorporated trends and developments in the gaming industry into our design. We received feedback from both our target group and our technical teacher, which we used to make further refinements to the design.

                                <br><br>One major challenge we faced was effectively collaborating as a team. However, we were able to overcome this challenge and create a design that was well received by our target group and teacher. We also received suggestions for further improvements, such as incorporating packaged activities and making minor changes to the font and text formatting.
                                
                                <br><br>Overall, this project has taught me the importance of gathering feedback and continuously iterating on a design in order to create a product that is both visually appealing and functional. It has also reinforced the value of effective collaboration and seeking out opportunities for improvement.<br><br></p>

                                
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentSeven.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>