<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #2 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Personal Portfolio </h2>
                            <h3> PROFESSIONAl SKILLS: personal leadership<h3>
                            <h3> TECHNICAL SKILLS: trends & development</h3>
                            <p>This website is part of my studies @ Fontys ICT & Media Design. I made it simple and practical in order to be able to learn how to apply different visual effects. 
                                For me it is important to make the website visaully appealing to the user. Exploring modern trends in UI design I found out that animation and scroll animation are strong trends.
                                However, most of it uses Javascript and I don't know it well enough to understand the code. 
                            </p>

                            <a href="https://docs.google.com/document/d/1Q8Ktcu-WM0zlvkirK0VzYi8c6anRC66m7QbrfMzsWEs/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Low-end prototype
                                </button></a>

                            <p>I began building websites using material design as inspiration, and received positive feedback from students and teachers. 
                                I then discovered neumorphism, skeumorphism, and glassmorphism as design trends, but found that they required more elements and styling to look nice on simple websites. 
                                I decided to go with a pixelated retro game style instead, as it is popular and entertaining for users who enjoy retro games. 
                            </p>

                            <a href="https://docs.google.com/document/d/17FXAfKZQTsFCEdjOD9MqT5eOs-lwuAY56_miGNs11ak/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Website reference materials
                                </button></a>
                            
                            <p>After several tries I managed to combine different aniamtion and style effects that I liked with a simplicity of 8 bit style. I used artificial intelligence text 2 image service NightCafe to produce appropriate images for portfolio highlights and projects. 
                                I managed to make the images for portfolio in a similar color scheme and they natively fitted into a website.</p>

                                <div class="aiDrawings">
                                    <img src="https://images.nightcafe.studio/jobs/qh1oZ8R0euPwNPMADRLF/qh1oZ8R0euPwNPMADRLF--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/KMkNv8sMGFIfWbbQsoy0/KMkNv8sMGFIfWbbQsoy0--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/pbS11HL2LFhlrP4Wv5Ye/pbS11HL2LFhlrP4Wv5Ye--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/wQxulMHQsaB3OGLzvy6W/wQxulMHQsaB3OGLzvy6W--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/acoMzbULvjiniWT5W060/acoMzbULvjiniWT5W060--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/g2f3ArbdcXwYVoJBbMvU/g2f3ArbdcXwYVoJBbMvU--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/DEFzgD5htzELaRQ6uXlh/DEFzgD5htzELaRQ6uXlh--grid.jpg?tr=w-1600,c-at_max">
                                    <img src="https://images.nightcafe.studio/jobs/T2FhnGp1g9LkkTlh3IDg/T2FhnGp1g9LkkTlh3IDg--grid.jpg?tr=w-1600,c-at_max">
                                    
                                </div>

                            <p>With this portfolio I want to deliver my vision for minimalistic design and implementation of latest technology such as different Pure CSS effects and Artificial Intelligence.</p>
                                
                            
                        <img src="https://64.media.tumblr.com/tumblr_mcfqj603fq1rfjowdo1_500.gif" class="card-img-top card-pic slowfloat2s" alt="portfolioMagic">

                        <hr>
                        <h3>Feedback:</h3>
                        <p>Your portfolio looks great and you have a strong sense of the look and feel you want to achieve. 
                            My advice is to experiment with HTML and JavaScript to customize your website and add interactivity. 
                            You should also challenge yourself by exploring more difficult and technical aspects of programming and web design, such as frameworks, libraries, and platforms. 
                            Consider exploring UI and UX design elements to give your portfolio a more professional and unique look.</p>

                        <h3>Reflection:</h3>
                        <p>As a Media Design student, I am dedicated to learning and growing, particularly in the field of artificial intelligence. 
                            I will experiment with new technologies and challenge myself to explore technical aspects of web design, including frameworks, libraries, and platforms. 
                            I will also consider incorporating AI and UI/UX design elements into my portfolio. 
                            I understand the importance of continuously learning and pushing myself to take on new challenges in order to grow and succeed in my studies and future career. 
                            I am committed to seeking out opportunities for learning and personal development.<br><br></p>
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentThree.html">      
                <div class="pixel2">Next</div>

        

    </body>

    </html>