<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #10 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Conclusion </h2>
                            <h3> PROFESSIONAL SKILLS: personal leadership </h3>
                            <h3> TECHNICAL SKILLS: trends and development </h3>
                            
                            <p> My first semester at ICT & Media Design has been a journey of self-discovery and personal growth. One of the most valuable lessons I learned was the importance of user research and prototyping in creating successful designs. I was able to create art, logos, texts and even analytics with AI relatively quickly, but I realized that there is always room for improvement. I plan to explore different AI models in the future to improve the process and gather user experience data.

                                <br><br>I also had the opportunity to work on a project where we brainstormed a lot of different ideas and topics. Evetually, we switched to a game events and devices rental website due to difficulties understanding the crypto industry and a shared design inspiration. This experience taught me the importance of challenging myself to think creatively and come up with innovative solutions.
                                
                                <br><br>Moving forward, I am committed to continuing to challenge myself and push the limits of my technical skills in order to create the best possible products. I will seek out opportunities for growth and take a proactive approach to improving my skills and knowledge in user research and prototyping. I will also strive to develop a deeper understanding of my target audience and focus on rigorous research and prototyping.
                                
                                <br><br>In the second semester, I plan to explore new methods for conducting user research. I want to dive deeper into analytics and machine learning, as well as natural language processing (NLP) to gain a better understanding of user behavior. I also plan to learn and implement JavaScript to improve my web development skills and make my designs more interactive and engaging.
                                
                                <br><br>In summary, my first semester has been a valuable learning experience, and I am excited to continue growing and developing my skills in the field of ICT & Media Design. With a focus on user research, prototyping, and new technologies, I am confident that I can create even better designs in the future.<br><br>
                            </p>
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>

            <a href="momentEleven.html">      
              <div class="pixel2">Next</div>
            

    </body>

    </html>