<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #3 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Group work </h2>
                            <h3> PROFESSIONAL SKILLS: future-oriented organisation</h3>
                            <p>As a team we have established several reliable ways of communication with the use of different techonology. We have a WA Chat, a Discord group, a Google Drive and FHICT gitlab. 
                                From the beginning of our collaboration we used a professional approach. We made a team charter, made different agreements and distributed responsibilities.
                            </p>

                            <a href="https://drive.google.com/drive/folders/1tQzqgHQWRL70ZsStsu66aXvJejqavEEW" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Tetra Lenses Google Drive
                                </button></a>

                                <a href="https://git.fhict.nl/I508616/tetra-lenses" target="_blank" rel="noopener noreferrer">
                                    <button class="button">
                                        Tetra Lenses FHICT GitLab
                                    </button></a>
                            
                            <div class="teamPhoto"><img src="../images/teamOne.jpg" alt="tetraLensesTeam"></div>

                            <hr>
                            <h3>Feedback: </h3>
                            <p>This shows your dedication to an effective and organized approach to your project. 
                                Going forward, it would be beneficial for your team to make sure you take some time to evaluate your progress regularly, ensure all tasks are assigned accordingly, and be open to feedback to help improve your working dynamics. 
                                Overall, you have demonstrated an impressive level of organization and collaboration, which will surely help you succeed in your project.
                            </p>
                            <h3>Reflection: </h3>
                            <p>My team and I have made good progress in establishing effective communication and organization. I will strive to regularly evaluate our progress, assign tasks effectively, and be open to feedback in order to enhance our working dynamics. 
                                While we have demonstrated strong organization and collaboration skills thus far, I know there is always more to learn and will continue to work towards excellence in these areas.<br><br></p>

                            
                                

                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentFour.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>