<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #5 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Paper Prototype </h2>
                            <h3> TECHNICAL SKILLS: iterative process</h3>
                            <p> We made several attempts to create a paper prototype for our website. It appeared that all of us had similar ideas about the structure of the main page. 
                                I then collected all variants and made a final version. 

                            </p>

                            <div class="teamPhoto"><img src="../images/densonPaper.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/sergioMain.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/sergioAbout.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/mainPaper.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/productsPaper.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/productCard.jpeg"></div>
                            <div class="teamPhoto"><img src="../images/finalWeb.png"></div>

                            <p>When the basic structure was done we moved towards cardsorting. This is a CMD Research Method we used in order to find out what information organisation structures are considered intuitive by users.</p>
                            <div class="teamPhoto"><img src="../images/cardSorting1.jpeg"></div>

                            <hr>
                            <h3>Feedback: </h3>
                            <p>You have successfully synthesized the team's ideas into a single paper prototype, including all necessary points. 
                                It is important to review the final version with the team to ensure satisfaction and accurate reflection of their vision. 
                                Additionally, test the final card sorting structure with users to ensure it is intuitive and easy to navigate, and make necessary adjustments before moving on. 
                                This will help identify potential issues and improve future projects.
                            <br><br>
                            </p>
                            <h3>Reflection: </h3>
                            <p>We were collaborating effectively on the paper prototype and were able to come up with a basic structure that included all of our ideas. I then synthesized these ideas into a final version. During the card sorting process, we used a CMD research method to determine the most intuitive way to organize the information on the website. However, I recognize that I need to improve my collaboration skills and actively seek out feedback. I also need to prioritize user testing to ensure the website is easy to navigate. This experience has taught me the importance of effective collaboration and the need to constantly seek out opportunities for improvement.<br><br></p>

                            
                            
                            

                            
                                
                            
                        
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentSix.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>