<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #4 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Target Group Interview </h2>
                            <h3> PROFESSIONAL SKILLS: targeted interaction, personal leadership</h3>
                            <h3> TECHNICAL SKILLS: target group, trends & developments</h3>
                            <p>We interviewed several guys from our previous class. They are very experienced gamers, in my opinion. 
                                And definetly fit into our target group criteria, which are:
                                <br>- students 
                                <br>- playing games 
                                <br>- owning consoles 
                                <br>- like new games 

                                <br><br>This interview is the next step we've done into our team user experience research. I didn't participate physically in the interview, but helped to write questions and did the transcribation.</p>  
                                

                            </p>

                            <a href="https://www.assemblyai.com/playground/transcript/r0oas494pn-335a-42de-adc0-159d104815cb" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    AI interview transcribation pt1
                                </button></a>
                            <p>Interview outcomes: <br><br>
                                <br>1) Three participants, Max, Alan, and Chaimai, were interviewed about their gaming habits.<br><br>
                                <br>2) They play a variety of games including Nintendo games, platformers, puzzle games, action games, open world games, and card games.<br><br>
                                <br>3) They primarily play on the Nintendo Switch, PlayStation 4, and PC, but are open to playing on other platforms.<br><br>
                                <br>4) One participant considers themselves a casual gamer, while another considers themselves an ultra hardcore gamer.<br><br>
                                <br>5) They have varying amounts of time to play games, with one participant playing for a maximum of 3 hours a day and another playing every day without a specific time limit.<br><br>
                                <br>6) They have different attitudes towards purchasing games, with one participant willing to pay $50 for a game and another unwilling to pay more than $5.<br><br>
                                <br>7) One participant has a large collection of games that they have not yet played.<br><br></p>

                            <a href="https://www.assemblyai.com/playground/transcript/r0oa0xlygq-c51a-47f2-aa32-d3d2c35fd260" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                     AI interview transcribation pt2
                                </button></a>

                            <p>8) Some participants have a negative first impression of the website and think it looks untrustworthy<br><br>
                               <br>9) The layout and color scheme may contribute to the untrustworthy perception<br><br>
                               <br>10) Some participants have not heard of the website before and this contributes to their lack of trust<br><br>
                                <br>11) One participant would not buy from the website<br><br>
                                <br>12) One suggestion for making the website more trustworthy is to use student cards for sign-ups and make the website accessible through the school's website<br><br></p>

                            <a href="https://www.assemblyai.com/playground/transcript/r0oalqq6pi-fabd-4067-8770-ea9af8874299" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    AI interview transcribation pt3
                                </button></a>
                            <p>13)The website has a layout that is not perceived as trustworthy by some users<br><br>
                                <br>14) Users prefer ads from the company's own deals or third parties that are perceived as trustworthy<br><br>
                                <br>15) The menu navigation bar is understandable, but some users had confusion about the word "Categor"<br><br>
                                <br>16) The website's product card does not provide enough information for users<br><br>
                                <br>17) Users would like a budget filter on the website<br><br>
                                <br>18) Users prefer a clean and simple layout for the website<br><br>
                            
                            

                            <hr>
                            <h3>Feedback: </h3>
                            
                            <p>You have done a great job in your target group interview, as the people interviewed were perfect fits for the criteria. 
                                            Your research skills are highly commendable, as you have been able to find the right people to speak with. 
                                            Additionally, using AI tool transcribing has made the process much more efficient and accurate. 
                                            Going forward, it would be helpful to read through the transcripts more thoroughly and to ensure all important points are discussed thoroughly in the interviews. 
                                            Doing so will provide you with a greater amount of data to use in your project. <br><br></p>

                            <h3>Reflection: </h3>
                            <p>Overall, the target group interview was a successful and valuable part of our user experience research. We were able to gather important information about our target group's gaming habits and preferences, as well as their thoughts on our website. Through this process, we were able to identify areas for improvement in our website, such as the layout and the amount of information provided on product cards. We also learned about the importance of trust in the online purchasing process and the role that third party advertisements can play in building or damaging trust.

                                <br><br>Moving forward, it will be important to use this information to make changes to our website and marketing strategies in order to better appeal to and meet the needs of our target group. We should consider revising the layout and color scheme of the website to be more trustworthy, as well as ensuring that we provide enough information on product pages to help users make informed decisions. Additionally, we should carefully consider the types of third party advertisements we use and ensure that they align with our brand and values.
                                
                                <br><br>By being critical and self-challenging in our approach, we can seek out opportunities for growth and development in order to create a successful and satisfying product for our target group.<br><br></p>

                            
                            
                                
                            
                        

                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentFive.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>