<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleMomentZero.css"> 
    
        </head>

        <header>
            <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
          </ul>
        </header>
        
    <body>

      

      <h1> Outcome #8 </h1>

      

      

        <section>
            <div class="container">
                <div class="row justify-content-center">
              
              
                    <div class="col-8 col-md-6">
                <div class="jelly-card">
                          <div class="card py-3 ">
                            <h2> Teamwork </h2>
                            <h3> PROFESSIONAL SKILLS: personal leadership, future-oriented organisation</h3>
                            
                            
                            <p> We've been already working in a team for a few months and at some point I recognised that our work required a review. 
                                I was thinking that I worked more than other team members. However, I couldn't come to any objective concluison about that issue.  
                                I contacted a coach and got an advice to do a retrospective and figure things out. I brought my concern to the team. Not everybody liked it, but we took our time in a quite room, had a discussion, came up with new agreements, plans and team goals. 
                                As a result I figured out that we had forgotten to regularly update the documentation. We also had no clear planning solution. Thus, we updated everything and used Asana to make planning and a timeline as Gantt Chart.
                            </p>

                            <a href="https://docs.google.com/document/d/1tKz6PJxni1qboKcz5SthFs6Ii_r7wNJP41GIKxF330s/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
                                <button class="button">
                                    Updated Project Plan
                                </button></a>

                                <br><br>

                                <a href="https://app.asana.com/0/1203514700064172/board" target="_blank" rel="noopener noreferrer">
                                    <button class="button">
                                        Asana
                                    </button></a>
                            <br><br>

                             <div class="protoPhoto"><img src="../images/asana1.png" alt="asana1"></div>
                             <div class="protoPhoto"><img src="../images/asana2.png" alt="asana2"></div>
                                <div class="protoPhoto"><img src="../images/asana3.png" alt="asana3"></div>
                             <br><br>

                            

                                

                            

                            <hr>
                            <h3>Feedback: </h3>
                            <p> Semester coach says that I've showed some good personal leadership and managed to solve a problem in a proper way.
                                Team said that I brought attention to what we needed to do in order to achieve goals. Motivatived to work harder. 
                                However, I have to learn to bring information in a more friendly way, more professional way and in time.
                                
                                <br><br>
                            </p>
                            <h3>Reflection: </h3>
                            <p>Working in a team can be both rewarding and challenging, and it's important to continually strive to improve teamwork skills. In this project, I recognized that there were issues with our team's organization and communication, and I took the initiative to address these issues by bringing my concerns to the team and seeking out the advice of a coach. By having a retrospective and implementing new agreements and tools like Asana, we were able to improve our project planning and documentation.

                                <br><br>While I received positive feedback for my personal leadership in addressing these issues, I also received constructive criticism on the way I presented the information to my team. I need to work on bringing information to the team in a more professional and timely manner, and I will strive to do so in future projects. Additionally, I need to make sure to reflect on my own personal growth and areas for improvement in my reflections, rather than just focusing on the positive aspects of the team's work. I will work on being more authentic and personal in my reflections, and setting specific learning goals for myself in order to continue improving my teamwork skills.<br><br></p>

                            
                            
                            

                            
                                
                            
                        
                    
                    </div>
                        </div>
                </div>
              </div>
              
              
                </div>
            </div>
        </section>

        <a href="portfolio.html">      
            <div class="pixel2">Back</div>
            <a href="momentNine.html">      
                <div class="pixel2">Next</div>

    </body>

    </html>