<html lang="en">
        <head>
            <!-- Character encoding for the HTML document -->
            <meta charset="UTF-8" />
            <!-- Ensures the website will display correctly in Internet Explorer -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <!-- Sets the viewport, which controls the width and scaling of the website on mobile devices -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <!-- Link to Google Fonts stylesheet -->
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <!-- Title of the website -->
            <title>Artur's Portfolio</title>
            <!-- Link to local stylesheet file -->
            <link rel="stylesheet" href="../static/stylePortfolio.css"> 
    
        </head>

        <!-- Navigation menu for the website -->
        <header>
        <ul>
            <!-- Links to other pages on the website -->
            <li><a  href="index.html">home</a></li>
            <li><a class="active" href="portfolio.html">outcomes</a></li>
            <li><a href="projects.html">projects</a></li>
            <li><a href="studentInfo.html">aboutMe</a></li>
        </ul>
        </header>

        
        <body>

      

            <!-- Main heading on the page -->
            <h1> Learning Outcomes </h1>
      
           
            <!-- Link to another page on the website -->
            <a href="momentZero.html">
            <!-- Container for a group of "card" elements -->
            <div class="container">
              <!-- Individual "card" element containing an image, a label, and text -->
              <div class="card">
                  <!-- Label for the card -->
                  <span>Outcome #0</span>
                  <!-- Image for the card -->
                  <img src="../images/momentZero.jpg">
                  <!-- Text for the card -->
                  <p> Trends and developments, iterative approach, future-oriented organisation
                      <br>---
                      <br> #AI #logoMaking #planning
                  </p>
              </div>
      
              <!-- Link to another page on the website -->
              <a href="momentOne.html">
              <!-- Individual "card" element containing an image, a label, and text -->
              <div class="card">
                  <!-- Label for the card -->
                  <span>Outcome #1</span>
                  <!-- Image for the card -->
                  <img src="../images/momentOne.jpg">
                  <!-- Text for the card -->
                  <p> Investigative problem solving, iterative approach, target group
                      <br>---
                      
                <br>#UXresearch #survey
           
            </p>
        </div>
        <a href="momentTwo.html">
        <div class="card">
            <span>Outcome #2</span>
            <img src="../images/momentTwo.jpg">
            <p> Personal leadership, trends and development, interactive prototypes
                <br>---
                <br>#webSite #dev #portfolio #prototype #inspiration #reference
            </p>
        </div>
        <a href="momentThree.html">
            <div class="card">
                <span>Outcome #3</span>
                <img src="../images/momentThree.jpg">
                <p> Future-oriented organisation
                    <br><br><br><br><br>---
                    <br>#teamWork #gitHub #googleDrive #gitLab
                </p>
            </div>

            <a href="momentFour.html">
                <div class="card">
                    <span>Outcome #4</span>
                    <img src="../images/momentFour.jpg">
                    <p> Targeted interaction, trends & development, target group
                        <br><br>---
                        <br>#interview #targetGroup #assemblyAI
                    </p>
                </div>

                <a href="momentFive.html">
                    <div class="card">
                        <span>Outcome #5</span>
                        <img src="../images/momentFive.jpg">
                        <p> Iterative approach, investigative problem solving
                            <br><br><br>---
                            <br>#cardSorting #paperPrototype
                        </p>
                    </div>
                    
                    <a href="momentSix.html">
                        <div class="card">
                            <span>Outcome #6</span>
                            <img src="../images/momentSix.jpg">
                            <p> Trends & developments, iterative process, target group
                                <br><br>---
                                <br>#reference #webDesign 
                                <br>#colorScheme #layOut
                                <br>#logo
                            </p>
                        </div>

                        <a href="momentSeven.html">
                            <div class="card">
                                <span>Outcome #7</span>
                                <img src="../images/momentSeven.jpg">
                                <p>Investigative problem solving, tergeted interaction, target group
                                    <br>---
                                    <br>#interview #feedBack #assemblyAI
                                </p>
                            </div>

                            <a href="momentEight.html">
                                <div class="card">
                                    <span>Outcome #8</span>
                                    <img src="../images/momentEight.jpg">
                                    <p> Personal leadership, future-oriented organisation
                                        <br><br><br><br>---
                                        <br>#planning #agreements #asana #responsibility
                                    </p>
                                </div>

                                <a href="momentNine.html">
                                    <div class="card">
                                        <span>Outcome #9</span>
                                        <img src="../images/userPersona.jpg">
                                        <p> Target group, investigative problem solving, targeted interaction
                                            <br><br>---
                                            <br>#uxResearch #targetAudience #userPersona #dataAnalysis
                                        </p>
                                    </div>

                                    <a href="momentTen.html">
                                        <div class="card">
                                            <span>Outcome #10</span>
                                            <img src="../images/personalLeadership.jpg">
                                            <p> Personal leadership
                                                <br><br><br><br><br><br>---
                                                <br>#finalOutcome
                                            </p>
                                        </div>

                                        <a href="momentEleven.html">
                                            <div class="card">
                                                <span>Outcome #11</span>
                                                <img src="../images/unioRoom.jpg">
                                                <p> Targeted interaction, iterative process, interactive prototypes
                                                    <br><br>---
                                                    <br>#website #bluePrint
                                                </p>
                                            </div>
        
        </div>
        <!-- Button -->
        <a href="index.html">      
        <div class="pixel2">Back</div>
      </div>

   </body>
</html> 