<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href='https://fonts.googleapis.com/css?family=Press2Play' rel='stylesheet'>
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/stylePortfolio.css"> 
    
        </head>

        <header>
            <nav>
                
                <ul>
                    <li><a class="active" href="index.html">home</a></li>
                    <li><a href="portfolio.html">outcomes</a></li>
                    <li><a href="projects.html">projects</a></li>
                    <li><a href="studentInfo.html">aboutMe</a></li>
                    
                </ul>   
                
            </nav>
        </header>

    <body>

      

      <h1> Projects </h1>

     
      <a href="aiResearch.html"> 
      <div class="container">
        <div class="card">
            <span>AI Art Research</span>
            <img src="../images/aiResearch.png">
            <p>AI drawing and text generation
            <br><br><br><br><br>---
            <br>#AI #stableDiffusion
            <br>#googleColab
            <br>#text2image
        </p>
        </div>

        <a href="jaHoor.html">
        <div class="card">
            <span>Ja Hoor <br>Card Game</span>
            <img src="../images/jaHoor.jpg">
            <p>Card game for 2-6 players with a matrix of symbols and colors
                <br><br>---
                <br>#cardGame
                <br>#printing
                <br>#laserCutter
                <br>#manualDesign
                <br>#box
            </p>
        </div>

        <a href="gptResearch.html">
            <div class="card">
                <span>GPT AI text model</span>
                <img src="../images/chatGPT.jpg">
                <p>GPT Chat utilized for studying
                    <br><br><br>
                    <br>---
                    <br>#openAI
                    <br>#gptChat
                    <br>#feedback
                    <br>#selfDirected<br> learning
                    
                </p>
            </div>
         
            <a href="futureProfessions.html">
                <div class="card">
                    <span>AI personal advice</span>
                    <img src="../images/careerAdvice.jpg">
                    <p>GPT Chat utilized for career navigation
                        <br><br>
                        <br>---
                        <br>#openAI
                        <br>#gptChat
                        <br>#careerAdvice
                        <br>#selfDirected<br> learning
                        
                    </p>
                </div>

        </div>
        <a href="index.html">      
        <div class="pixel2">Back</div>
      </div>

   </body>
</html> 