<html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P" rel="stylesheet" type='text/css'>
            <title>Artur's Portfolio</title>
            <link rel="stylesheet" href="../static/styleStudentInfo.css"> 
    
        </head>

 

    <body>
      <h1> Student Info </h1>
          <div class="fakeScreen">
            <img src="../images/photoMe.jpg">
            <div class= "lines">
            <p class="line1">&#91;&nbsp;&ldquo;student id: 000000&rdquo;,<span class="cursor1">_</span></p>
            <p class="line2">&nbsp;&nbsp;&ldquo;student name: Artur&rdquo;,<span class="cursor2">_</span></p>
            <p class="line3">&nbsp;&nbsp;&ldquo;student surname: Krasnomakov&rdquo;,<span class="cursor3">_</span></p>
            <p class="line5">&nbsp;&nbsp;&ldquo;years of studies: 2022-2026&rdquo;,<span class="cursor5">_</span></p>
            <p class="line6">&nbsp;&nbsp;&ldquo;course: ICT & Media Design&rdquo;<span class="cursor6">_</span></p>
            <p class="line7">><span class="cursor7">_</span></p>
            </div>
            <div>
              <a href="index.html">  
                <div class="pixel2">Back</div>
            </div></div>
          </div>

          
 
    </body>
</html>

